---
layout: page
title: Áreas de Foco
permalink: /areasfoco
description: "Áreas de estudo para aprofundar o conhecimento"
---

<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
				<h2>Processamento de Linguagem Natural</h2>
				<p>Processamento de linguagem natural é sub-área de inteligência artificial focada na compreensão e geração automática de textos. O principal desafio de PLN é a compreensão da linguagem, ou seja, fazer com que o computador consiga extrair emoções e sentido do texto lido.</p>
				
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
				<h2>Aprendizado por reforço </h2>
				<p>Reinforcement Learning é uma área de machine learning em que o seu programa aprende quais ações devem ser feitas para aumentar suas recompensas (reforço positivo).</p>
				
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
				<h2>Turing Quant</h2>
				<p> Área de estudos do grupo que visa entender e testar novas aplicações de Inteligência Artificial na elaboração de algoritmos para Trading nos mais diversos mercados.</p>
				
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
				<h2>Visão computacional</h2>
				<p>Visão computacional é a área de programação que estuda como os computadores extraem informações de imagens e vídeos. Os principais desafios atuais são o reconhecimento de elementos de uma imagem e sua classificação.</p>
				
			</div>
		</section>
		