---
layout: page
title: Eventos
permalink: /Eventos
---

<head>
	<link rel='stylesheet' href='style.css'>
</head>
<body>
	<section id="one" class="wrapper style2 special" style="background-color: #2D3843">
		<div class="outer">
			<header class="major">
				<h2 style="color:#ffffff;">Nossos eventos</h2>
			</header>
		</div>
		<div id='wrap'>
			<div id='arrow-left' class='arrow'>
			</div>
			<div id='slider'>
				<div class='slide slide-1'>
					<div class= "slide-content">
						<span>
							<h2>Workshop Keras</h2>
							<h4>14/06 e 15/06</h4>
							<h4>LabSoft - Prédio da Engenharia Elétrica</h4>
						</span>
					</div>
				</div>
				<div class='slide slide-2'>
					<div class= "slide-content">
						<span>
							<h2>Hackaton</h2>
							<h4>Data a definir</h4>
							<h4>Local a definir</h4>
						</span>
					</div>
				</div>
				<!--<div class='slide slide-3'>
					<div class= "slide-content">
						<span>
							<h2>Titulo do evento 3</h2>
							<h4>Data do evento 3</h4>
							<h4>Local 3</h4>
						</span>
					</div>
				</div>-->
			</div>

			<div id='arrow-right' class='arrow'>
			</div>
		</div>

		<script>
			let sliderImages = document.querySelectorAll('.slide'),
				arrowRight = document.querySelector('#arrow-right')

				arrowLeft = document.querySelector('#arrow-left'),
				current = 0;

			//clear all images
			function reset(){
				for(let i = 0; i < sliderImages.length; i++){
					sliderImages[i].style.display = 'none';
				}
			}
			function startSlide(){
				reset();
				sliderImages[0].style.display = 'block';
			}

			function slideRight(){
				reset();
				sliderImages[current+1].style.display = 'block';
				current++;
			}

			function slideLeft(){
				reset();
				sliderImages[current -1].style.display = 'block';
				current--;
			}

			arrowLeft.addEventListener('click', function(){
				if (current == 0){
					current = sliderImages.length;
				}
				slideLeft();
			})

			arrowRight.addEventListener('click', function(){
				if (current == sliderImages.length -1 ){
					current = -1;
				}
				slideRight();
			})



			startSlide()


		</script>
	</section>
	<section id="two" class="wrapper style2 special" style="background-color: #2D3843; border-top:2px solid black;">
		<div class="outer">
			<header class="major">
				<h2 style="color:#ffffff;">Eventos futuros</h2>
			</header>
		</div>
		<div class="inner">
			<div class="inner" style="width: 70%; margin: 0 auto;">
				<div class="inner" style= "margin: 0 auto; max-width: 500px">
					<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="79545/"></script> <!-- end feedwind code -->
				</div>
			</div>
		</div>
	</section>
</body>