---
layout: landing
permalink: /
---

<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>{{ site.title }}</h2>
			<p style = "color: #ffffff">{{ site.description | markdownify }}</p>
	</section>

<!-- One -->
	<section id="one" class="wrapper style1 special" style="background-color: #6C91C6">
		<div class="inner" style="background-color: #6C91C2">
			<header class="major">
				<h2>Quem somos</h2>
				<p style="color: #ffffff;">Somos um grupo de extensão da Escola Politécnica da Universidade de São Paulo voltado ao estudo, pesquisa e disseminação de Inteligência Artificial. Realizamos estudos e projetos em três principais focos de estudo: Visão Computacional, Processamento de Linguagem natural e Aprendizado por reforço.</p>
				<a href="/QuemSomos" class="button">Saiba mais</a>
			</header>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="images/cpbr.jpg" alt="" /></div><div class="content">
				<h2>Eventos</h2>
				<p>Fique antenado em todos eventos do Grupo Turing.</p>
				<a href="/Eventos" class="button">Saiba mais</a>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="images/jokenpo.gif" alt="" /></div><div class="content">
				<h2>Projetos</h2>
				<p>Conheça um pouco mais dos nossos projetos! </p>
				<a href="/Projetos" class="button">Saiba mais</a>
		</section>
	</section>