---
layout: page
title: Projetos
permalink: /Projetos
---

<head>
    <link rel='stylesheet' href='style.css'>
</head>

<section id="three" class="wrapper style3 special" style="background-color: #6C91C2">
                        <div class="inner" style="background-color: #6C91C6">
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                            <script src="https://code.jquery.com/jquery-latest.js"></script>    
                            <ul class="features">
                                <li>
                                    <h3 class="icon fa-hand-peace-o">Libras</h3>
                                    <p>Aplicativo de conversão automática da Linguagem Brasileira de sinais em texto</p>

                                    <div id="Description3" style="display:none;" >
                                        
                                    O Grupo Turing se propõe a desenvolver um tradutor automático de sinais desenvolvidos na Linguagem Brasileira de Sinais para texto. Para isso, serão utilizadas soluções em Visão Computacional e Processamento de Linguagem Natural.



                                    </div>
                                    <br>
                                    <input type="button" value="Ver mais" onclick="myFunction3();return change(this);" />
                                    <script>
                                    function myFunction3() {
                                        var x = document.getElementById("Description3");
                                        if (x.style.display === "none") {
                                            x.style.display = "block";
                                        } else {
                                            x.style.display = "none";
                                        }
                                    }
                                    </script>
                                </li>
                                <li>
                                    
                                    <h3 class="icon fa-hospital-o">Carcinoma</h3>
                                    <p>Determinação do melhor tipo de tratamento para um paciente com carcinoma hepático</p>

                                    
                                    <div id="Description1" style="display:none;" >
                                    
                                    Em parceria com o Instituto do Câncer do Estado de São Paulo (ICESP), o projeto busca desenvolver um algoritmo capaz de determinar a probabilidade de sucesso de um determinado tratamento para um paciente com carcinoma hepatocelular a partir da análise de dados clínicos.  


                                    </div>
                                    <br>
                                    <input type="button" value="Ver mais" onclick="myFunction1();return change(this);" />
                                    <script>
                                    function myFunction1() {
                                        var x = document.getElementById("Description1");
                                        if (x.style.display === "none") {
                                            x.style.display = "block";
                                        } else {
                                            x.style.display = "none";
                                        }
                                    }
                                    </script>
                                </li>
                                <li >
                                    <h3 class="icon fa-thumbs-o-up">Termômetro político</h3>
                                    <p> Análise automática de postagens em redes sociais utilizando processamento de Linguagem Natural</p>
                                    
                                    <div id="Description4" style="display:none;" >
                                        
                                    Leitura e análise de postagens de redes sociais, utilizando processamento de linguagem natural, para mapeamento de interesse político no período das eleições.

                                    </div>
                                    <br>
                                    <input type="button" value="Ver mais" onclick="myFunction4();return change(this);" />
                                    <script>
                                    function myFunction4() {
                                        var x = document.getElementById("Description4");
                                        if (x.style.display === "none") {
                                            x.style.display = "block";
                                        } else {
                                            x.style.display = "none";
                                        }
                                    }
                                    </script>
                                </li>
                                <li>
                                    <h3  class="icon fa-venus">Workshop for her</h3>
                                    <p>Evento exclusivo para o público feminino, voltado para incentivar a participação de mulheres no ramo de computação e tecnologia</p>
                                    
                                    <div id="Description7" style="display:none;" >
                                        
                                    O evento consiste num workshop de programação voltado somente para o público feminino. O objetivo do evento é incentivar mulheres a programarem e ensiná-las mais sobre IA,dentro de um ambiente confortável para todas.

                                    </div>
                                    <br>
                                    <input type="button" value="Ver mais" onclick="myFunction7();return change(this);" />
                                    <script>
                                    function myFunction7() {
                                        var x = document.getElementById("Description7");
                                        if (x.style.display === "none") {
                                            x.style.display = "block";
                                        } else {
                                            x.style.display = "none";
                                        }
                                    }
                                    </script>
                                </li>
                                <li >
                                    <h3 class="icon fa-heart-o">Starcraft</h3>
                                    <p> Algoritmo de treinamento por reforço para jogador autônomo de Starcraft</p>
                                    
                                    <div id="Description5" style="display:none;" >
                                        
                                    (Descrição em breve )

                                    </div>
                                    <br>
                                    <input type="button" value="Ver mais" onclick="myFunction();return change(this);" />
                                    <script>
                                    function myFunction5() {
                                        var x = document.getElementById("Description5");
                                        if (x.style.display === "none") {
                                            x.style.display = "block";
                                        } else {
                                            x.style.display = "none";
                                        }
                                    }
                                    </script>
                                </li>
                                <li >
                                    <h3 class="icon fa-flag-o">Workshop de Keras</h3>
                                    <p> Workshop de Redes Neurais Convolucionais aplicado ao conversor de Libras em texto</p>
                                    
                                    <div id="Description6" style="display:none;" >
                                        
                                    Capacitação teórica e prática em Visão Computacional utilizando um rede neural convolucional que traduz libras para texto.

                                    </div>
                                    <br>
                                    <input type="button" value="Ver mais" onclick="myFunction6();return change(this);" />
                                    <script>
                                    function myFunction6() {
                                        var x = document.getElementById("Description6");
                                        if (x.style.display === "none") {
                                            x.style.display = "block";
                                        } else {
                                            x.style.display = "none";
                                        }
                                    }
                                    </script>
                                </li>
                                
                                <li >
                                    <h3 class="icon fa-code">Hackaturing</h3>
                                    <p> Maratona organizada pelo Grupo Turing para desenvolvimento de soluções utilizando Machine Learning</p>
                                                                        
                                    <div id="Description8" style="display:none;" >
                                    O projeto consiste na organização e execução de um hackathon (maratona de desenvolvimento de tecnologias e produtos, vem de hacker marathon) focado em machine learning para alunos da USP e outras faculdades estratégicas. A ideia é fomentar o ecossistema empreendedor e tecnológico da comunidade uspiana e universitária.
                                    </div>
                                    <br>
                                    <input type="button" value="Ver mais" onclick="myFunction8();return change(this);" />
                                    <script>
                                    function myFunction8() {
                                        var x = document.getElementById("Description8");
                                        if (x.style.display === "none") {
                                            x.style.display = "block";
                                        } else {
                                            x.style.display = "none";
                                        }
                                    }
                                    </script>
                                </li>
                            </ul>
                        </div>
                    </section>

