---
layout: page
title: Quem Somos
permalink: /QuemSomos
description: "Grupo que estuda, aplica e dissemina Inteligência Artificial na USP"
---

<style type="text/css">
    #size {
	    margin: auto;
	    width: 80%;
	    max-width: 900px;
	    padding: 10px;
    }
</style>

<section id="main" class="wrapper style3 special" style="background-color: #ffffff">
	<div id='size' class="inner" style="background-color: #ffffff">
		<header class="major">
			<h2 style="color:#000000;">História</h2>
			<p style="color:#666666;">O Turing nasceu a partir de um grupo de alunos da Escola Politécnica da USP que queria conhecer melhor o mundo da inteligência artificial. Hoje, temos uma estrutura interna bem mais desenvolvida, com alunos de diferentes cursos da USP, que pesquisam e desenvolvem projetos de IA.</p>
		</header>
		<header class="major">
			<h2 style="color:#000000;">Missão</h2>
			<p style="color:#666666;">Como o maior grupo de IA na USP, buscamos estudar, aplicar e disseminar o conhecimento sobre o assunto, visando desenvolver trabalhos nas mais diversas áreas de conhecimento.</p>
		</header>
	</div>
</section>

<section id="org" class="wrapper style2 special">
	<div class="inner" id = 'size'>
		<h2 style="color:#ffffff;">Organização</h2>
		<h3 class="icon fa-search" style="color:#ffffff;"> Pesquisa e Desenvolvimento </h3>
		<p style="color:#eeeeee;">A área de P&D é responsável por pesquisar e aprofundar o conhecimento de machine learning, programação e demais tecnologias e técnicas no grupo. É subdivida em 3 áreas de foco: Reinforcement Learning, Visão Computacional e Processamento de Linguagem Natural. Além disso, é responsável pela capacitação dos novos membros do Turing, disponibilizando tutoriais e conteúdo para o seu aprendizado. </p>

		<h3 class="icon fa-code" style="color:#ffffff;"> Projetos </h3>
		<p style="color:#eeeeee;">A área de projetos busca aplicar os conhecimentos do grupo em situações reais, focando em projetos internos ou externos. Os nossos projetos são escolhidos com base no impacto que podem causar na sociedade e nos desafios que vão proporcionar ao grupo.</p>

		<h3 class="icon fa-external-link" style="color:#ffffff;"> Comunidade</h3>
		<p style="color:#eeeeee;">Essa área é responsável pela difusão de nosso conhecimento e divulgação do Grupo Turing nas comunidades que fazemos parte. Isto é alcançado através do gerenciamento de mídias sociais, do marketing das atividades do grupo e da organização de eventos, como Workshops e Hackatons.</p>

		<h3 class="icon fa-users" style="color:#ffffff;"> Recursos Humanos</h3>
		<p style="color:#eeeeee;">A área de RH é responsável pelo acompanhamento e desenvolvimento dos membros do Turing. O objetivo é garantir que cada um atinja o seu máximo potencial dentro do grupo. Além disso, organiza o processo seletivo dos novos membros.</p>

		<h3 class="icon fa-gear" style="color:#ffffff;"> Estratégia</h3>
		<p style="color:#eeeeee;"> A área de estratégia é responsável por garantir o bom funcionamento do grupo, integrando e administrando as outras áreas. </p>

		<h3 class="icon fa-money" style="color:#ffffff;"> Financeiro</h3>
		<p style="color:#eeeeee;">Entre as preocupações da área de financeiro, estão a captação e gerenciamento de recursos a serem utilizados pelo grupo. Além disso, esse segmento auxilia na elaboração de documentos e declarações, como contratos, estatutos e demonstrações financeiras. De vital importância para a saúde financeira e garantia de patrimônio do Grupo Turing.</p>
	</div>
</section>

