---
layout: page
title: Nossos Recursos
permalink: /recursos
---

<style type="text/css">
    #size {
	    margin: auto;
	    width: 80%;
	    max-width: 900px;
	    padding: 10px;
    }
    img {
	    max-width: 100%;
	    height: auto;
	}
</style>

<section id="main" class="wrapper style3 special" style="background-color: #ffffff">
	<div class="inner" style="background-color: #ffffff">
		<header class="major">
			<div id = "size" class="inner">
				<h2 style="color:#000000;">Não prestamos serviços</h2>
				<p style="color:#666666;">Os nossos projetos têm como objetivo a aplicação dos conceitos estudados e os membros não são remunerados por eles.
				</p>
				<h2 style="color:#000000;">Somos Amigos da Poli</h2>
				<p style="color:#666666;">Para a execução de algumas tarefas necessitamos de apoio externo. Nos orgulhamos de ter a confiança do Fundo Patrimonial Amigos da Poli.</p>
				<div class="image" style = {width: 70%} >
					<a href="https://www.amigosdapoli.com.br/">
					<img src="images/amigosdapoli.jpg" alt="Amigos da Poli" />
				</div>
			</div>
		</header>
	</div>
</section>