body, #slider, .wrap, .slide-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 90vh;
	overflow-x: hidden;

}

.wrap{
	position: relative;
}

.slide{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide-1{
	background-image: url('images/pic01.jpg')
}

.slide-2{
	background-image: url('images/pic02.jpg')
}

.slide-3{
	background-image: url('images/pic03.jpg')
}

.slide-content{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide-content span{
	font-size: 1.5rem;
}

.arrow{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: 80vh;
	width: 0;
	height: 0;
	border-style: solid;
}

#arrow-left{
	border-width: 3vh 3vw 3vh 0;
	left: 0;
	margin-left: 3vw;
	border-color: transparent #fff transparent transparent;
}

#arrow-right{
	border-width: 3vh 0 3vh 3vw;
	right: 0;
	margin-right: 3vw;
	border-color: transparent transparent transparent #fff;
}